# Lab 2 - podstawy języka Python: zmienne i operacje na nich

##Metody wyświetlania danych (instrukcje wyjścia)

Instrukcje wyjścia służą do interakcji z użytkownikiem poprzez wyświetlanie danych. Podstawową instrukcją wyjścia w języku Python jest funkcja print().

### Wyświetlanie tekstu stałego 

W celu wyświetlenia tekstu należy użyć funkcji print(), tekst, który ma zostać wyświetlony należy umieścić w '  ' lub w "  ".

In [ ]:
print('hello world')

hello world

### Wyświetlanie tekstu ze zmiennej

W celu wyświetlenia tekstu ze zmiennej należy utworzyć zmienną i po znaku = przypisać jej tekst, który ma zostać wyświetlony. Następnie przy użyciu funkcji print() wyświetlić wartość zmiennej.

In [ ]:
var = 'Hello world'

print(var)

Hello world

##Wartości liczbowe

### statyczna wartośc liczbowa

W celu wyświetlenia statycznej wartość liczbowej należy przekazać tą wartość.

In [ ]:
print(10)

10

### Wartość liczbowa ze zmiennej

W celu wyświetlenia wartości liczbowej ze zmiennej należy utworzyć zmienną i po znaku = przypisać jej wartość, która ma zostać wyświetlona. Następnie przy użyciu funkcji print() wyświetlić wartość zmiennej.

In [ ]:
var = 10

print(var)

10

### Wyświetlanie wartości wyrażenia

Do funkcji print należy przekazac proste wyrażenie arytymetyczne. W wyniku tego wyświetli się wartość wyrażenia.

In [ ]:
print(2 + 2)

4

## Zmienne i metody ich inicjalizacji

W języku Python zmiennie inicjalizujemy podstwiając do nich wartości po  znaku =.

###Zmienna tekstowa

Do zmiennej należy podtswić tekst zapisany w ' '  lub " ".

In [ ]:
var_str = 'to jest tekst'

print(var_str)

to jest tekst

In [ ]:
var_str = 'to jest \'kolejny\' tekst'

print(var_str)

to jest 'kolejny' tekst

Zmienna całkowitoliczbowa

Do zmiennej po zanku = należy podstawić liczbę całkowitą.

In [ ]:
var_int = 2611

print(var_int)

2611

Zmienna rzeczywista

Do zmiennej po znaku = należy podstawić liczbę rzeczywistą.
Alternatywnie można wpisać wartość zakończoną separatorem miejsc dziesiętnych, wówczas 0 zostanie automatycznie dodane przez interpreter. Można również użyć funkjci float(), do której zostanie przekazana wartość całkowita.

In [ ]:
var_float_0 = 10.0
var_float_1 = 10.
var_float_2 = float(10)

print(var_float_0)
print(var_float_1)
print(var_float_2)

10.0
10.0
10.0

Zmienna logiczna

Do zmiennej podstawiamy wartość logiczną True(Prawda) lub False(Fałsz).

In [ ]:
var_bool_0 = False
var_bool_1 = True

print(var_bool_0)
print(var_bool_1)
print(var_bool_0 == var_bool_1)

False
True
False

## Rzutowanie typów danych (konwersja)

Zdarza się, że potrzebny jest inny typ danych niż jest dostępny. Pyhton uodstępnia możliwość przekonwertowania typu wartości znajdującego się w zmiennej na iny typ.

### Pobieranie typów zmiennych

Przed dokonaniem rzutowania istotnym korkiem jest sprawdzenie, jakiego typu wartość znajduje się w zmiennej.
Można tego dokonać używając funkcji type().

In [ ]:
a = 20
b = 80.1
c = 'tekst'

type_of_a = type(a)
type_of_b = type(b)
type_of_c = type(c)

print(type_of_a)
print(type_of_b)
print(type_of_c)

<class 'int'>
<class 'float'>
<class 'str'>

### Sprawdzanie typów zmiennych

Alternatywną metodą jest sprawdzenie, czy wartość znajdująca się w zmiennej jest tego typu, którego oczekujemy.
Służy do tego funkcja isinstance().

In [ ]:
print(isinstance(a, int))
print(isinstance(c, float))

True
False

### Konwersja typów zmiennych

In [ ]:
var_float = 10.
var_int = 20
var_int_bool = 0
var_str = '90'
var_bool = True

Konwersja z typu zmiennoprzecinkowego (float) na typ całkowitoliczbowy (int).

In [ ]:
float_to_int = int(var_float)

print(type(float_to_int))
print(type(var_float))

print('-------------------')

print(float_to_int)
print(var_float)

<class 'int'>
<class 'float'>
-------------------
10
10.0

Konwersja z typu całkowitoliczbowego (int) na typ zmiennoprzecinkowy (float).

In [ ]:
int_to_float = float(var_int)

print(type(var_int))
print(type(int_to_float))

print('-------------------')

print(var_int)
print(int_to_float)

<class 'int'>
<class 'float'>
-------------------
20
20.0

Konwersja z typu tekstowego(str) na typ calkowitoliczboy (int).

W  tym przypadku należy uważać ponieważ tekst przy takiej konwersji powinien zawierać jedynie cyfry.

In [ ]:
str_to_int = int(var_str)

print(type(var_str))
print(type(str_to_int))

print('-------------------')

print(var_str)
print(str_to_int)

<class 'str'>
<class 'int'>
-------------------
90
90

In [ ]:
int('to jest 2 mieszany tekst 1')

ValueError: ignored

Konwersja z typu tekstowego (str) na typ zmiennoprzecinkowy (float).

In [ ]:
str_to_float = float(var_str)

print(type(var_str))
print(type(str_to_float))

print('-------------------')

print(var_str)
print(str_to_float)

<class 'str'>
<class 'float'>
-------------------
90
90.0

Konwersja z typu całkowitoliczbowego (int) na typ logiczny (bool).

In [ ]:
int_to_bool = bool(var_int_bool)

print(type(var_int_bool))
print(type(int_to_bool))

print('-------------------')

print(var_int_bool)
print(int_to_bool)

<class 'int'>
<class 'bool'>
-------------------
0
False

Konwersja z typu logicznego (bool) na typ tekstowy (str).

In [ ]:
bool_to_str = str(var_bool)

print(type(var_bool))
print(type(bool_to_str))

print('-------------------')

print(var_bool)
print(bool_to_str)

<class 'bool'>
<class 'str'>
-------------------
True
True

## Wczytywanie danych od użytkownika (instrukcje wejścia)

Jedną z najbardziej podstawowych instrukcji wejścia jest funkcja input, służy ona do wczytywania wartości wpisanych przez uzytkownika za pomocą klawiatury. Domyślnie wartości wpisane z kalwiatury są typu tesktowego (str).

### Wczytywanie wartości tekstowych

W celu wczytania wartości tekstowej wprowadzonej przez uzytkownika należy użyć funkcji input z przekazaną instrukcją dla użytkownika, wynik funckji powinien być podstawiony do zmiennej.

In [ ]:
input_value = input('Wprowadz tekst: ')

print(input_value)

Wprowadz tekst: test
test

### Wczytywanie wartości całkowitoliczbowych

W celu wczytania wartości wprowadzonej przez uzytkownika należy użyć funkcji input z przekazaną instrukcją dla użytkownika, wynik funckji powinien być podstawiony do zmiennej. Należy pamiętać, że każda wartośc wpisna z klawiatury jest typu tekstowego (str) zatem należy dokonać konwersji na typ całkowitoliczbowy (int). Muszą być wprowadzone same cyfry!

In [ ]:
input_int_value = int(input('Wprowadz liczbe: '))

print(input_int_value)
print(type(input_int_value))

Wprowadz liczbe: 10
10
<class 'int'>

### Wczytywanie wartości rzeczywistych

W celu wczytania wartości wprowadzonej przez uzytkownika należy użyć funkcji input z przekazaną instrukcją dla użytkownika, wynik funckji powinien być podstawiony do zmiennej. Należy pamiętać, że każda wartośc wpisna z klawiatury jest typu tekstowego (str) zatem należy dokonać konwersji na typ rzeczywisty (float). Muszą być wprowadzone same cyfry i separator, jako .!

In [ ]:
input_float_value = float(input('Wprowadz liczbe: '))

print(input_float_value)
print(type(input_float_value))

Wprowadz liczbe: 10.1
10.1
<class 'float'>

## Działania arytmetyczne

W Pythonie istnieje możlwiość wykonywania działań arytymetycznych za pomocą operatorów. Wyrażenie arytymetyczne może skadać się z wielu operatorów.

### Podstawowe operatory arytmetyczne

- operator dodawania: +
- operator odejmowania: -
- operator mnożenia: *
- operator dzielenia całowitego: //
- operator modulo, reszta z dzielenia: %
- operator potęgowania: **

In [ ]:
a = 10
b = 20

addition = a + b
substraction = a - b
multiplication = a * b
division = a / b

print(addition)
print(substraction)
print(multiplication)
print(division)

30
-10
200
0.5

Należy pamiętać, że nie dzielimy przez 0.

In [ ]:
print(10 / 0)

ZeroDivisionError: ignored

### Dzielenie całkowite

In [ ]:
print(10 // 3)

3

### Reszta z dzielenia

In [ ]:
print(10 % 4)

2

### Potęgowanie

$$2^{10}$$

In [ ]:
print(2 ** 10)

1024

### Pierwiastkowanie

W celu wykonania operacji pierwiastkowania należy uzyć modułu math (moduł należy zaimportować).

$$\sqrt{10}$$

In [ ]:
import math

print(math.sqrt(10))

3.1622776601683795

### Logarytmy

Do wykonywania działań na logarytmach również niezbędny jest moduł math.

$$log_{2}(5)$$

In [ ]:
import math

print(math.log(5, 2))

2.321928094887362

### Liczba e

Wartośc liczby e jest dostępna w module math.

In [ ]:
print(math.e)

2.718281828459045

### Liczba pi 

Wartośc liczby pi jest również dostępna w  module math.

In [ ]:
print(math.pi)

3.141592653589793

### Trygonometria

Wartości funkcji trygonometrycznych są dostępne w module math.

sinus

In [ ]:
print(math.sin(20))

0.9129452507276277

cosinus

In [ ]:
print(math.cos(30))

0.15425144988758405

tangens

In [ ]:
print(math.tan(60))

0.320040389379563

### Liczby zespolone

Python umożliwia wynonywanie działań na liczbach zespolonych bez dodatkowych bibliotek.

In [ ]:
z = 3 + 4j

print(z)

(3+4j)

Wartość rzeczywista i urojona

W łatwy sposób można wyodrębnić zarówno część rzeczywistą, jak i częśc urojoną liczby zespolonej.

In [ ]:
print(z.real)  # wartosc rzeczywista
print(z.imag)  # wartosc urojona

3.0
4.0

Działania na liczbach zespolonych

Na ciele liczb zespolonych można dokonywać działań.

In [ ]:
z0 = 5 + 2j
z1 = 9 + 6j

In [ ]:
print(z0 + z1)
print(z0 / z1)
print(z0 ** z1)

(14+8j)
(0.48717948717948717-0.10256410256410255j)
(222731.96717255385+318191.17084672354j)

## Typy zmiennych

W języku Python od wersji 3.5 można nadawać typy zmiennym

- int - liczba całkowita
- float - liczba rzeczywista
- str - wartość tekstowa
- bool - wartość logiczna.

Typ może zostać nadany w momencie inicjalizacji  zmiennej.

In [ ]:
var_0: int = 10
var_1: float = 20.0
var_2: str = 'lorem ipsum'
var_3: bool = False

print(var_0)
print(var_1)
print(var_2)
print(var_3)

10
20.0
lorem ipsum
False

Należy mieć na uwadze, że zadeklarowane typy zmiennych nie mają wpływu na ich faktyczną wartość.

In [ ]:
var_any: str = 20

print(var_any)
print(type(var_any))
print(isinstance(var_any, str))

20
<class 'int'>
False

## Operatory przyrostkowe



Zamiast:

In [ ]:
a: int = 10

a = a + 9

piszemy:

In [ ]:
a += 9

In [ ]:
a *= 3

In [ ]:
a -= 10

In [ ]:
a /= 3

## Ciągi znaków i operacje na nich

In [ ]:
var_str: str = 'to jest tekst!'

### Długość tekstu

W celu sprawdzenia dlugości tekstu należy użyć funkcji len().

In [ ]:
var_str_len: int = len(var_str)

print(var_str_len)

14

### Odwoływanie się do znaków na konkretnych pozycjach

Do celów odwołania się do konkretnej pozycji nalezy uzyć [].
Należy pamiętać, że pierwszy znak jest na pozycji 0.

Pierwszy znak:

In [ ]:
print(var_str[0])

t

Ostatni znak:

In [ ]:
print(var_str[-1])

!

Przedostatni znak:

In [ ]:
print(var_str[-2])

t

Można również wyświetlić fragment tekstu.

Fragment tekstu na pozycjach od 3 do 6.

In [ ]:
print(var_str[3:7])

jest

### Zmiana wielkości znaków

Python umożliwia zmianę małych liter na wielkie, w tym celu nalezy użyć metody upper().

In [ ]:
var_str_low: str = 'to sa male litery'

print(var_str_low)
print(var_str_low.upper())

to sa male litery
TO SA MALE LITERY

Istnieje również możliwośc zmiany wielkich liter na małe, w tym celu nalezy użyć metody lower().

In [ ]:
var_str_up: str = 'TO SA WIELKIE LITERY'

print(var_str_up)
print(var_str_up.lower())

TO SA WIELKIE LITERY
to sa wielkie litery

Można rówież zmienić wielkości pierwszych liter każdego słowa na wielką literę - metoda title().

In [ ]:
var_str: str = 'to jest prosty tekst'

print(var_str)
print(var_str.title())

to jest prosty tekst
To Jest Prosty Tekst

### Interpolacja tekstów (f-string)

Dzięki interpolacji tektów można w łatwy sposób umieszczać różne wartości w tekscie.

In [ ]:
lines_count: int = 3200
space_avg: float = 3.5

summary: str = f'Objetosc kodu wynosi {lines_count} linii, gdzie na kazda linie przypada srednio {space_avg} spacji'
print(summary)

Objetosc kodu wynosi 3200 linii, gdzie na kazda linie przypada srednio 3.5 spacji

## Zadania

Przy rozwiązywaniu zadań należy jawnie deklarować typy zmiennych

1. Wczytać od użytkownika wartość typu całkowitego (x), a następnie sprawdzić czy jest podzielna przez wartość całkowitą (y), również wczytaną od użytkownika
2. Obliczyć wartości wyrażeń wczytując zmienne od użytkownika, a następnie wyświetlić wyniki w następującym formacie "wartosc wyrazenia [nr przykladu] dla zmiennych x=[wartosc zmiennej wczytana od uzytkownika], y=[wartosc zmiennej wczytana od uzytkownika] wynosi [wynik wyrazenia]":
  - $$ (x + \frac{y}{z}) ^ {x - z} $$
  - $$ \frac{\sqrt{x} - \sqrt[z]{x}}{\sqrt[z + 1]{x} - \sqrt[z + 2]{x}} $$
  - $$ \frac{\pi}{x} - arctg(y) $$
  - $$ \frac{(\sqrt[3]{x} - y) ^ {\pi}}{\frac{z^y}{e ^ {10}}} $$
  - $$\frac{sin(x) + cos(y)}{sin(x) + cos(y)}$$
  - $$ log_y(x) $$
3. Dla wyrażenia $$ z = \sqrt{-1} $$ wyświetlić część rzeczywistą i urojoną
4. Wyświetlić listę poznanych wartości trygonometrycznych dla kątów: 15, 30, 45, 60 stopni
5. Dla koła o promieniu wczytanym od użytkownika obliczyć oraz wyświetlić pole i obwód
6. Dla kuli o promieniu wczytanym od użytkownika obliczyć oraz wyświetlić pole powierzchni i objętość
7. Dla równania kwadratowego o postaci $$ ax^2 + bx + c = 0 $$ znaleźć miejsca zerowe wczytując wartości a, b, c pobrane od użytkownika
8. Wyświetlić długość losowego tekstu wygenerowanego przy użyciu biblioteki Faker
9. Wyświetlić przy użyciu biblioteki wikipedia podsumowanie artykułu znajdującego się pod hasłem "Olsztyn", a następnie zamienić cały pobrany tekst na wielkie litery i wyświetlić
10. Wyświetlić przy użyciu biblioteki wikipedia 100 ostatnich znaków treści artykułu znajdującego się pod hasłem "Guido van Rossum", a następnie zamienić w każdym słowie pierwsze litery na wielki i wyświetlić wynik