# Lab 3 - Podstawy języka Python: instrukcje warunkowe, iteracyjne, sterujące i kontenery danych

## Lista

Lista jest zmienną, w której można przechowywać wiele innych wartości. Elementami listy mogą być wszystkie dostępne typy w języku Python. Listy są modyfikowalne, co daje możliwość dodawania, usuwania oraz modyfkowania poszczególnych elementów.

### Lista jednowymiarowa

Pustą listę jednowymiarową definiujemy następująco:

In [ ]:
li = []

Listę można wyświetlić za pomocą funkcji print()

In [ ]:
print(li)

[]

Można również zdefiniować listę, która będzie zawierała pewne wartości. W przypadku, gdy lista będzie zawierała wartości tylko jednego typu (str), można ją oznaczyć następująco:

In [ ]:
from typing import List  

li: List[str] = ['jeden', 'dwa', 'trzy']  

print(li)

['jeden', 'dwa', 'trzy']

W przypadku gdy lista będzie zawierała wartości różnych typów, do oznaczenia wartości użyjemy typu List[Any], gdzie Any jest uniwersalnym typem, który można stosować do dowolnych wartości

In [ ]:
from typing import List, Any  

li: List[Any] = [1, 'dwa', 3, 'cztery']

print(li)

[1, 'dwa', 3, 'cztery']

### Lista dwuwymiarowa

W liście dwuwymiarowej każdy element listy jest kolejną listą zawierającą właściwe wartości.

In [ ]:
from typing import List


li_2d: List[List[int]] = [
                          [1, 2, 3],
                          [4, 5, 6],
                          [7, 8, 9],
]

print(li_2d)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Lista trójwymiarowa

Każdy element listy trójwymiarowej jest listą dwuwymiarową

In [ ]:
from typing import List


li_3d: List[List[List[int]]] = [
                                [
                                 [1, 2, 3],
                                 [4, 5, 6],
                                 [7, 8, 9],
                                ],
                                [
                                 [11, 12, 13],
                                 [14, 15, 16],
                                 [17, 18, 19],
                                ]
]

print(li_3d)

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[11, 12, 13], [14, 15, 16], [17, 18, 19]]]

### Sprawdzanie długości list

Długość listy można najprościej sprawdzić za pomocą funkcji len() - podobnie jak ciąg znaków

In [ ]:
from typing import List

li_1d: List[int] = [1, 2, 3, 4, 5, 10]

print(len(li_1d))

6

Długość listy dwuwymiarowej można sprawdzić stosując funkcję len() do każdego wymiaru

In [ ]:
from typing import List

li_2d: List[List[int]] = [
                          [1, 2, 3],
                          [4, 5, 6],
]

print(f'Liczba wierszy: {len(li_2d)}, liczba kolumn: {len(li_2d[0])}')

Liczba wierszy: 2, liczba kolumn: 3

Analogicznie można postąpić w przypadku listy trójwymiarowej, czterowymiarowej, itd...

### Dodawanie nowych elementów do listy

Do dodawania nowych elementów na końcu listy służy metoda append()

In [ ]:
from typing import List

li_1d: List[float] = [1.5, 2.5, 3.5]  
print(f'przed dodaniem: {li_1d}')

li_1d.append(4.5)  
print(f'po dodaniu: {li_1d}')

przed dodaniem: [1.5, 2.5, 3.5]
po dodaniu: [1.5, 2.5, 3.5, 4.5]

W listach dwuwymiarowych również można dodawać nowe wartości i nowe wiersze

In [ ]:
from typing import List


li_2d: List[List[int]] = [
                          [1, 2, 3],
                          [4, 5, 6],
                          [7, 8, 9],
]

li_2d.append([10, 11, 12])  

print(li_2d)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

### Usuwanie elementów

Do usuwania elementów z list służy instrukcja **del**, która nie jest funkcją

In [ ]:
from typing import List

li_1d: List[float] = [1.5, 2.5, 3.5, 4.5, 5.5]  
print(f'przed usunieciem: {li_1d}')

del li_1d[1] 
print(f'po usunieciu: {li_1d}')

przed usunieciem: [1.5, 2.5, 3.5, 4.5, 5.5]
po usunieciu: [1.5, 3.5, 4.5, 5.5]

W podobny sposób można usuwać wartości z listy dwuwymiarowej

In [ ]:
from typing import List


li_2d: List[List[int]] = [
                          [1, 2, 3],
                          [4, 5, 6],
                          [7, 8, 9],
]
print(f'przed usunieciem pierwszego wiersza {li_2d}')

del li_2d[0]  
print(f'przed usunieciem pierwszego wiersza {li_2d}')

przed usunieciem pierwszego wiersza [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
przed usunieciem pierwszego wiersza [[4, 5, 6], [7, 8, 9]]

### Pobieranie elementów listy na wyznaczonych pozycjach

Odwołanie się do elementu listy na wskazanej pozycji spowoduje zwrócenie jego wartości

In [ ]:
from typing import List

li_1d: List[float] = [1.5, 2.5, 3.5, 4.5, 5.5]  

print(li_1d[1])

2.5

W celu odwołania się do wartości elementu listy wieowymiarowej należy wskazać jego pozycję w każdym wymiarze

In [ ]:
from typing import List


li_2d: List[List[int]] = [
                          [1, 2, 3],
                          [4, 5, 6],
                          [7, 8, 9],
]

print(li_2d[1][2])

6

### Łączenie list

Łączenie list polega na utworzeniu nowej listy zawierającej wszystkie elementy z listy składowych. Operacji połączenia list można dokonać za pomocą operatora +

In [ ]:
from typing import List, Any

li_0: List[int] = [1, 2, 3]  
li_1: List[str] = ['cztery', 'piec', 'szesc']  

li_new: List[Any] = li_0 + li_1  

print(li_new)

[1, 2, 3, 'cztery', 'piec', 'szesc']

Podobną procedurę można zastosować przy łączeniu list dwuwymiarowych, gdzie wszystkie elementy zostaną połączone na poziomie wierszy

In [ ]:
from typing import List


li_0: List[List[int]] = [
                          [1, 2, 3],
                          [4, 5, 6],
                          [7, 8, 9],
]


li_1: List[List[float]] = [
                          [11.1, 12.1, 13.1],
                          [14.1, 15.1, 16.1],
                          [17.1, 18.1, 19.1],
]

 
li_new: List[Any] = li_0 + li_1

print(li_new)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [11.1, 12.1, 13.1], [14.1, 15.1, 16.1], [17.1, 18.1, 19.1]]

### Sprawdzenie czy element znajduje się w liście

W tym celu użyjemy instrukcji **in**

Sprawdźmy czy w liście liczb całkowitych znajduje się pewna wartość

In [ ]:
from typing import List

li: List[int] = [1, 11, 21, 31, 41, 51]  

print(11 in li)

True

## Krotka (tupla)

Krotka (podobnie jak lista) jest zmienną, w której można przechowywać wiele wartości. Krotka jest jednak niezmienna - nie można jej modyfikować.

Stwórzmy krotkę zawierającą wartości całkowite

In [ ]:
from typing import Tuple  

tup: Tuple[int] = (1, 2, 5, 8)  

print(tup)

(1, 2, 5, 8)

Podobnie jak w przypadku list, można również tworzyć krotki wielowymiarowe

In [ ]:
from typing import Tuple


tup_2d: Tuple[Tuple[float]] = (
    (1.2, 2.2, 3.2),
    (4.2, 5.2, 6.2),
    (7.2, 8.2, 9.2),
)

print(tup_2d)

((1.2, 2.2, 3.2), (4.2, 5.2, 6.2), (7.2, 8.2, 9.2))

Za pomocą funkcji len() można również sprawdzić długość krotki w każdym wymiarze

In [ ]:
from typing import Tuple

tup: Tuple[int] = (1, 2, 5, 8)  

print(len(tup))

4

Istnieje również możliwość łączenia krotek

In [ ]:
from typing import Tuple

tup_0: Tuple[int] = (1, 2, 5, 8)
tup_1: Tuple[int] = (10, 11, 12)


tuple_new: Tuple[int] = tup_0 + tup_1

print(tuple_new)

(1, 2, 5, 8, 10, 11, 12)

## Słownik

Słownik to kolekcja par (klucz, wartość). Stwórzmy nowy pusty słownik

In [ ]:
di = {}

print(di)

{}

Słownik można oznaczyć typem Dict zaimportowanym z modułu typing. Stwórzmy nowy słownik, w którym klucz będzie typu całkowitego, a wartość typu tekstowego

In [ ]:
from typing import Dict  


di: Dict[int, str] = {
    1: 'jeden',
    2: 'dwa',
    3: 'trzy',
}

print(di)

{1: 'jeden', 2: 'dwa', 3: 'trzy'}

Klucze i wartości w słownikach mogą mieć różne typy danych, które można oznaczyć typem ogólnym Any

In [ ]:
from typing import Dict, Any


di: Dict[Any, Any] = {
    1: 'jeden',
    'dwa': 2,
}

print(di)

{1: 'jeden', 'dwa': 2}

### Pobieranie wartości ze słowników

Pobieranie wartości ze słowników jest podobne do pobierania wartości elementów z list. Różnica polega na wskazaniu klucza zamiast pozycji elementu

In [ ]:
from typing import Dict

di: Dict[str, str] = {
    'one': 'jeden',
    'two': 'dwa',
    'three': 'trzy',
}

print(di['two'])

dwa

### Dodawanie nowych par do słowników

Dodawanie nowych par do słowników polega na odwołaniu się do klucza, który nie istnieje i przypisaniu nowej wartości

In [ ]:
from typing import Dict

di: Dict[str, str] = {
    'one': 'jeden',
    'two': 'dwa',
    'three': 'trzy',
}
print(f'Przed dodaniem nowego klucza: {di}')

di['four'] = 'cztery' 
print(f'Po dodaniu nowego klucza: {di}')

Przed dodaniem nowego klucza: {'one': 'jeden', 'two': 'dwa', 'three': 'trzy'}
Po dodaniu nowego klucza: {'one': 'jeden', 'two': 'dwa', 'three': 'trzy', 'four': 'cztery'}

### Modyfikacja wartości w słownikach

Modyfikacja wartości w słownikach jest bardzo podobna do dodawania nowych par. Różnica polega na odwołaniu się do istniejącego klucza i przypisaniu mu nowej wartości

In [ ]:
from typing import Dict

di: Dict[str, str] = {
    'one': 'jeden',
    'two': 'dwa',
    'three': 'trzy',
}
print(f'Przed modyfikacja wartosci: {di}')

di['three'] = '3'
print(f'Po modyfikacji wartosci: {di}')

Przed modyfikacja wartosci: {'one': 'jeden', 'two': 'dwa', 'three': 'trzy'}
Po modyfikacji wartosci: {'one': 'jeden', 'two': 'dwa', 'three': '3'}

### Usuwanie par w słowniku

Usuwanie par w słowniku odbywa się za pomocą instrukcji **del** - podobnie jak w przypadku listy. W tym celu należy odwołać się do klucza, który zostanie usunięty wraz z przypisaną mu wartością

In [ ]:
from typing import Dict

di: Dict[str, str] = {
    'one': 'jeden',
    'two': 'dwa',
    'three': 'trzy',
}
print(f'Przed usunieciem: {di}')

del di['two']  
print(f'Po usunieciu: {di}')

Przed usunieciem: {'one': 'jeden', 'two': 'dwa', 'three': 'trzy'}
Po usunieciu: {'one': 'jeden', 'three': 'trzy'}

### Długość słownika

Za pomocą funkcji len() można sprawdzić długość słownika, czyli liczbę par, która się w nim znajduje

In [ ]:
from typing import Dict

di: Dict[str, str] = {
    'one': 'jeden',
    'two': 'dwa',
    'three': 'trzy',
}

print(len(di))

3

## Zbiory

Zbiór jest zmienną, w której można przechowywać wiele innych wartości różnych typów. W zbiorach wartości się nie powtarzają

### Tworzenie nowego zbioru

Utwórzmy pusty zbiór

In [ ]:
s = set()

print(s)

set()

Zbiór można oznaczyć typem Set zaimportowanym z modułu typing. Stwórzmy nowy zbiór do którego zostanie przekazana lista wartości całkowitych, gdzie niektóre z wartości się powtarzają

In [ ]:
from typing import Set  

s: Set[int] = set([1, 1, 3, 5, 3, 7])  

print(s)

{1, 3, 5, 7}

### Dodawanie wartości do zbioru

Wartości do zbioru można dodać za pomocą metody add()

In [ ]:
from typing import Set

s: Set[int] = set()  
print(s)

s.add(20)
s.add(10)
s.add(15)

print(s)

s.add(10)  

print(s)

set()
{10, 20, 15}
{10, 20, 15}

### Usuwanie wartości ze zbioru

Wartości ze zbioru usuwamy metodą remove()

In [ ]:
from typing import Set

s: Set[int] = set([1, 1, 3, 5, 3, 7, 8, 10, 5, 8])  
print(f'Przed usunieciem: {s}')

s.remove(10)  
print(f'Po usunieciu: {s}')

Przed usunieciem: {1, 3, 5, 7, 8, 10}
Po usunieciu: {1, 3, 5, 7, 8}

### Działania na zbiorach

W języku python dostępne są podstawowe działania na zbiorach

#### Sprawdzenie czy dany zbiór jest podzbiorem innego zbioru

In [ ]:
from typing import Set

a: Set[int] = set([1, 2, 3, 4]) 
b: Set[int] = set([1, 4])

print(b <= a)

True

#### Sprawdzenie czy dany zbiór jest nadzbiorem innego zbioru

In [ ]:
from typing import Set

a: Set[int] = set([1, 2, 3, 4])
b: Set[int] = set([1, 4])

print(a >= b)

True

#### Suma zbiorów

In [ ]:
from typing import Set

a: Set[int] = set([1, 2, 3, 4])
b: Set[int] = set([1, 8])

d: Set[int] = a | b 

print(d)

{1, 2, 3, 4, 8}

#### Część wspólna zbiorów

In [ ]:
from typing import Set

a: Set[int] = set([1, 2, 3, 4, 5])
b: Set[int] = set([1, 3, 7, 11])

d: Set[int] = a & b

print(d)

{1, 3}

#### Różnica zbiorów

In [ ]:
from typing import Set

a: Set[int] = set([1, 2, 3, 4, 5])
b: Set[int] = set([1, 3, 7, 11])

d: Set[int] = a - b

print(d)

{2, 4, 5}

#### Różnica symetryczna zbiorów

In [ ]:
from typing import Set

a: Set[int] = set([1, 2, 3, 4, 5])
b: Set[int] = set([1, 3, 7, 11])

d: Set[int] = a ^ b

print(d)

{2, 4, 5, 7, 11}

## Instrukcja warunkowa

Instrukcja warunkowa pozwala na wykonanie pewnej części kodu, tylko wtedy gdy spełniony jest dany warunek, jeśli warunek nie jest spełniony dana część kodu jest pomijana.

In [ ]:
a: int = 5
b: int = 8

if a > b:
  print('a jest wieksze')
else:
  print('b jest wieksze')

b jest wieksze

In [ ]:
a: int = int(input('podaj a: '))
b: int = int(input('podaj b: '))

if a > b:
  print('a jest wieksze')
elif a < b:
  print('b jest wieksze')
else:
  print('obie wartosci sa rowne')

podaj a: 8
podaj b: 8
obie wartosci sa rowne

### Spójniki logiczne

W złożonych instrukcjach warunkowych można również wykorzystywać spójniki logiczne takie jak and i or

Sprawdźmy czy wartośc w zmiennej a jest parzysta i większa niż 100

In [ ]:
a: int = int(input('podaj liczbe: '))

if a > 100 and a % 2 == 0:
  print('parzysta liczba > 100')
else:
  print('Podana wartość nie spełnia założeń')

podaj liczbe: 120
parzysta liczba > 100

## Pętla for

Pętla for służy do przeglądania wartości kolekcji (np list, krotek, słowników). W każdym przebiegu pętli zmienna sterująca przyjmuje wartość kolejnego elementu kolekcji.

Stwórzmy pętlę for, która dokona iteracji po wszystkich elementach listy i je wyswietli

In [ ]:
from typing import List

li: List[int] = [10, 20, 30, 40, 50]  


for element in li:
  print(element)

10
20
30
40
50

Wewnątrz pętli for można dokonać wielu operacji na przeglądanych elementach kolekcji. Można również utworzyć z nich nową listę.

Stwórzmy za pomocą pętli for nową listę, w której umieścimy wartości z listy li pomnożone przez 2

In [ ]:
from typing import List

li: List[int] = [10, 20, 30, 40, 50]  
li_new: List[int] = [] 


for element in li:
  new_element: int = element * 2  
  li_new.append(new_element) 
print(li_new)

[20, 40, 60, 80, 100]

### Iteracja po wyznaczonym zakresie wartości

W języku Python pętla for umożliwia również iterację po wyznaczonym zakresie wartości, do czego służy funkcja range()

Stwórzmy pętlę for, która wypisze wartości od 0 do 9

In [ ]:
for i in range(0, 10):  
  print(i)

0
1
2
3
4
5
6
7
8
9

### Pętla w pętli

W języku python nie istnieją ograniczenia związane z zagnieżdżeniami pętli, co oznacza że bez problemu można umieścić pętlę wewnątrz innej pętli

Stwórzmy za pomocą pętli listę 2D (2 wiersze, 3 kolumny) wypełnioną wartościami całkowitymi od 0 do 2

In [ ]:
from typing import List

li: List[List[int]] = []  

for i in range(2):  
  tmp_row: List[int] = []  
  
  for i in range(3):  
    tmp_row.append(i)  

  li.append(tmp_row)  

print(li)

[[0, 1, 2], [0, 1, 2]]

## Pętla while

Pętla while wykonuje się dopóki jest spełniony warunek.

Stwórzmy pętlę while, która będzie się wykonywała dopóki wartość zmiennej a będzie mniejsza od 6

In [ ]:
a: int = 0 

while a < 6:  
  print(a)

  a += 1

0
1
2
3
4
5

Pętli while (podobnie jak pętlę for) można również użyć do uzupełniania list, słowników czy zbiorów

Stwórzmy pętlę while, która wypełni słownik parami, gdzie a będzie kluczem, a kwadrat a będzie wartością

In [ ]:
from typing import Dict

di: Dict[int, int] = {}  
a: int = 0  

while a < 6:  
  di[a] = a ** 2 

  a += 1  

print(di)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Pętla w pętli

Pętle while można również zagnieżdżać wewnątrz innych pętli, bez znaczenia czy jest to pętla for czy while

Stwórzmy za pomocą pętli listę 2D (2 wiersze, 3 kolumny) wypełnioną wartościami całkowitymi od 0 do 2

In [ ]:
from typing import List

li: List[List[int]] = []  
i: int = 0  
j: int = 0  

while i < 2:  
  tmp_row: List[int] = []  
  j = 0  

  while j < 3:  
    tmp_row.append(j)  
    j += 1  

  li.append(tmp_row)  
  i += 1 

print(li)

[[0, 1, 2], [0, 1, 2]]

## Instrukcje sterujące petlą

Czasami wykonanie pętli należy przerwać do następnego przebiegu lub zatrzymać całkowicie

### Instrukcja continue

Instrukcja continue pozwala przerwać wykonanie pętli i przejść do następnego przebiegu

Stwórzmy pętlę, która wyświetli potęgę 2, 3 oraz 4 liczb z zakresu od 2 do 5 z wyjątkiem liczby 3.

In [ ]:
for i in range(2, 6): 
  if i == 3:   
    continue
  
  for j in range(2, 5):  
    score: int = i ** j  
    print(f'{i}^{j} = {score}')

2^2 = 4
2^3 = 8
2^4 = 16
4^2 = 16
4^3 = 64
4^4 = 256
5^2 = 25
5^3 = 125
5^4 = 625

### Instrukcja break

Instrukcja break jest podobna do instrukcji continue. Różnica polega na tym, że pętla zostanie całkowicie zatrzymana

Stwórzmy pętlę, wewnątrz której będą wczytywane liczby od użytkownika oraz wyświetlane ich kwadraty. Pętla zostanie przerwana gdy zostanie wprowadzona liczba 0

In [ ]:
 
while True:
  value: int = int(input('podaj liczbe: '))  

  if value == 0:
    break

  print(f'{value}^2 = {value ** 2}')

print('koniec petli')

podaj liczbe: 9
9^2 = 81
podaj liczbe: 7
7^2 = 49
podaj liczbe: 0
koniec petli

## Zadania

1. Przygotować pętlę, która będzie dodawała wartości wczytane z klawiatury do zbioru. Pętla zostanie przerwana gdy liczebność zbioru przekroczy 10 elementów
2. Przygotować pętlę, która będzie dodawała wartości wczytane z klawiatury do listy. Pętla zostanie przerwana gdy użytkownik wpisze wartość znajdującą się w liście
3. Utworzyć macierz jednostkową za pomocą listy dwuwymiarowej
4. Utworzyć następującą macierz za pomocą pętli:
  $$
  \begin{bmatrix}
    0 & 4 & 8 & 12 \\
    1 & 0 & 9 & 13 \\
    2 & 6 & 0 & 14 \\
    3 & 7 & 11 & 0 \\
  \end{bmatrix}
  $$
5. Utworzyć słownik, w którym kluczem będzie dowolne słowo w języku polskim, a wartością jego odpowiednik w języku angielskim. Wypełnić słownik kilkoma parami (klucz, wartość). Przygotować pętlę, w której będzie pobierana wartość od użytkownika zawierająca słowo do przetłumaczenia. W przypadku gdy dane słowo nie istnieje w słowniku, należy pobrać tłumaczenie od użytkownika. Przerwać pętlę po wpisaniu przez użytkownika słowa "end".